:root {
  --primary-color: #6003C3;
  --white: #FFFFFF;
  --box-color-1: #FCFF00;
  --box-color-2: #57FFC9;
  --box-color-3: #A5FF01;
}
#box-1 {
    background-color: #FCFF00;
    margin-right:80px;
}
#box-2 {
    background-color: #57FFC9;
}
#box-3 {
    background-color: #A5FF01;
    margin-left: 80px;
}

body, html {
    font-family: 'Bebas Neue', Impact, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    vertical-align: middle;
}

h1 {
    background-color: #6003C3;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 50px;
    font-size:3rem;
}
.box {
    border: 10px solid #6003C3;
    width: 120px;
    display: inline-block;
    padding: 60px ;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px; 
   margin-top:25px;
   font-size:4rem;
   color: #6003c3;

   
}
.boxes {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
  
}
p, .score {
    text-align: center;
    font-size: 2rem;
    color: #6003C3;
}

    .box:hover {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

@media only screen and (max-width: 768px) {

    #box-1 {
        background-color: #FCFF00;
        margin-right: 0px;
    }

    #box-2 {
        background-color: #57FFC9;
    }

    #box-3 {
        background-color: #A5FF01;
        margin-left: 0px;
    }

    .box {
        width: 20px;
        font-size: 2rem;
    }
}